<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork865-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [ ]:
#!pip install sqlalchemy==1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [3]:
%load_ext sql

In [4]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [6]:
%sql sqlite:///my_data1.db

__init__() got an unexpected keyword argument 'bind'
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [7]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

C:\SWE\Revision_Scheme\Date\F22\_13\my_env\lib\site-packages\pandas\core\generic.py:2872: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [8]:
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cur.fetchall()

# Print the table names
for table in tables:
    print(table[0])

SPACEXTBL

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [94]:
cols = []
content = """SELECT * FROM SPACEXTBL
"""
result = cur.execute(content)
con.commit()
for column in result.description:
    print(column[0],column[1])

    cols.append(column[0])

Date None
Time (UTC) None
Booster_Version None
Launch_Site None
Payload None
PAYLOAD_MASS__KG_ None
Orbit None
Customer None
Mission_Outcome None
Landing_Outcome None

In [27]:
content = f"""
SELECT DISTINCT Launch_Site FROM SPACEXTBL
"""
result = cur.execute(content)
con.commit()
unique_lauch_site = []
for i in list(result):
    unique_lauch_site.append(i[0])
print(unique_lauch_site)

['CCAFS LC-40', 'VAFB SLC-4E', 'KSC LC-39A', 'CCAFS SLC-40', None]

<table>
<tr><td>'CCAFS LC-40'</td></tr>
<tr><td>'VAFB SLC-4E'</td></tr>
<tr><td>'KSC LC-39A'</td></tr>
<tr><td>'CCAFS SLC-40'</td></tr>
</table>


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [36]:
cols

['Date',
 'Time (UTC)',
 'Booster_Version',
 'Launch_Site',
 'Payload',
 'PAYLOAD_MASS__KG_',
 'Orbit',
 'Customer',
 'Mission_Outcome',
 'Landing_Outcome']

In [37]:
content = f"""
SELECT * FROM SPACEXTBL
WHERE Launch_Site LIKE "CCA%"
LIMIT 5;
"""
result = list(cur.execute(content))
con.commit()
pd.DataFrame(data=result,columns=cols)

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,06/04/2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0.0,LEO,SpaceX,Success,Failure (parachute)
1,12/08/2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0.0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,22/05/2012,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525.0,LEO (ISS),NASA (COTS),Success,No attempt
3,10/08/2012,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500.0,LEO (ISS),NASA (CRS),Success,No attempt
4,03/01/2013,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677.0,LEO (ISS),NASA (CRS),Success,No attempt

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [42]:
content = f"""
WITH table_ AS (
SELECT Customer, SUM(PAYLOAD_MASS__KG_) AS total_payload
FROM SPACEXTBL
GROUP BY Customer
)
SELECT *
FROM table_
WHERE Customer = "NASA (CRS)";
"""
result = cur.execute(content)
con.commit
print(list(result))

[('NASA (CRS)', 45596.0)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [47]:
content = f"""
WITH table_ AS (
SELECT *
FROM SPACEXTBL
WHERE Booster_Version LIKE "F9 v1.1%")
SELECT AVG(PAYLOAD_MASS__KG_) AS avg_payload
FROM table_
"""
result = cur.execute(content)
con.commit()
print(list(result))

[(2534.6666666666665,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [48]:
content = f"""
SELECT DISTINCT (Landing_Outcome)
FROM SPACEXTBL
"""
result = cur.execute(content)
con.commit()
print(list(result))

[('Failure (parachute)',), ('No attempt',), ('Uncontrolled (ocean)',), ('Controlled (ocean)',), ('Failure (drone ship)',), ('Precluded (drone ship)',), ('Success (ground pad)',), ('Success (drone ship)',), ('Success',), ('Failure',), ('No attempt ',), (None,)]

In [58]:
content = f"""
SELECT MIN(Date)
FROM SPACEXTBL
WHERE Landing_Outcome LIKE "%ground pad%"
"""
result = cur.execute(content)
con.commit()
print(list(result))

[('01/08/2018',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [63]:
content = f"""
SELECT Booster_Version, `PAYLOAD_MASS__KG_` FROM SPACEXTBL
WHERE (Landing_Outcome = "Success (drone ship)") AND (`PAYLOAD_MASS__KG_` BETWEEN 4000 AND 6000)
"""
result = cur.execute(content)
con.commit()
print(list(result))

[('F9 FT B1022', 4696.0), ('F9 FT B1026', 4600.0), ('F9 FT  B1021.2', 5300.0), ('F9 FT  B1031.2', 5200.0)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [76]:
content = f"""
WITH table_ AS (
    SELECT *,
    CASE WHEN Mission_Outcome LIKE "Succ%" THEN 1
    ELSE 0
    END
    AS Label
    FROM SPACEXTBL
)
SELECT Label, COUNT(*)
FROM table_
GROUP BY Label
"""
result = cur.execute(content)
con.commit()
print(list(result))

[(0, 899), (1, 100)]

In [64]:
content = f"""
SELECT DISTINCT(Mission_Outcome)
FROM SPACEXTBL
"""
result = cur.execute(content)
con.commit()
print(list(result))

[('Success',), ('Failure (in flight)',), ('Success (payload status unclear)',), ('Success ',), (None,)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [79]:
content = f"""
WITH table_ AS (
    SELECT Booster_Version, PAYLOAD_MASS__KG_
    FROM SPACEXTBL
    ORDER BY PAYLOAD_MASS__KG_ DESC 
)
SELECT *
LIMIT 1

"""
result = cur.execute(content)
con.commit()
print(list(result))

[('F9 B5 B1048.4', 15600.0)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [89]:
content = f"""
WITH table_0 AS (
WITH table_ AS (
SELECT Booster_Version, Launch_Site, Landing_Outcome,
substr(Date,7,4) AS Year, substr(Date, 4, 2) AS Month
FROM SPACEXTBL
WHERE Landing_Outcome = 'Failure (drone ship)' AND Year = '2015'
)
SELECT *,
CASE Month
WHEN 1 THEN "Jan"
WHEN 2 THEN "Feb"
WHEN 3 THEN "Mar"
WHEN 4 THEN "Apr"
WHEN 5 THEN "May"
WHEN 6 THEN "Jun"
WHEN 7 THEN "Jul"
WHEN 8 THEN "Aug"
WHEN 9 THEN "Sep"
WHEN 10 THEN "Oct"
WHEN 11 THEN "Nov"
ELSE "Dec"
END
AS Monthname
FROM table_)
SELECT Monthname, Booster_Version, Launch_Site, Landing_Outcome, Year
FROM table_0
"""
result = cur.execute(content)
con.commit()
print(list(result))

[('Dec', 'F9 v1.1 B1012', 'CCAFS LC-40', 'Failure (drone ship)', '2015'), ('Dec', 'F9 v1.1 B1015', 'CCAFS LC-40', 'Failure (drone ship)', '2015')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [101]:
content = f"""
WITH table_ AS (
SELECT *
FROM SPACEXTBL
WHERE DATE(substr(Date,7,4)
||'-'
||substr(Date,4,2)
||'-'
||substr(Date,1,2)) 
BETWEEN DATE('2010-06-04') AND DATE('2017-03-20')
)
SELECT Landing_Outcome, COUNT(*) AS Number
FROM table_
GROUP BY Landing_Outcome
ORDER BY Number DESC
"""
result = cur.execute(content)
con.commit()
print(list(result))

[('No attempt', 10), ('Success (ground pad)', 5), ('Success (drone ship)', 5), ('Failure (drone ship)', 5), ('Controlled (ocean)', 3), ('Uncontrolled (ocean)', 2), ('Precluded (drone ship)', 1), ('Failure (parachute)', 1)]

In [ ]:



select min(payload_mass__kg_) from SPACEXTBL

In [103]:
content = f"""
select min(payload_mass__kg_) from SPACEXTBL 
"""
result = cur.execute(content)
con.commit()
print(list(result))

[(0.0,)]

<table>
<tr>
<th>Landing Outcome</th>
<th>Number</th>
</tr>
<tr>
<td>No attempt</td>
<td>10</td>
</tr>
<tr>
<td>Success (ground pad)</td>
<td>5</td>
</tr>
<tr>
<td>Success (drone ship)</td>
<td>5</td>
</tr>
<tr>
<td>Failure (drone ship)</td>
<td>5</td>
</tr>
</tr>
<tr>
<td>Controlled (ocean)</td>
<td>3</td>
</tr>
<tr>
<td>Uncontrolled (ocean)</td>
<td>2</td>
</tr>
<tr>
<td>Precluded (drone ship)</td>
<td>1</td>
</tr>
<tr>
<td>Failure (parachute)</td>
<td>1</td>
</tr>
</table>

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> Â© IBM Corporation 2021. All rights reserved. <h3/>